In [17]:
import pandas as pd

In [18]:
ruta = r'c:\Users\ACER-PC\Downloads\Data Set top peliculas 2019 - Reto.csv'
df = pd.read_csv(ruta, encoding='ansi')
df.head()

,Position,Const,Created,Modified,Description,Title,Original Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt7286456,11/10/2019,11/10/2019,How can I describe something that my feeling c...,Joker,Joker,https://www.imdb.com/title/tt7286456/,PelÃ­cula,8.4,122,2019,CRIMEN,1561802,10/4/2019,Todd Phillips
1,2,tt8637428,11/4/2019,11/4/2019,"Beautifully crafted, infinitely humane, joyous...",The Farewell,The Farewell,https://www.imdb.com/title/tt8637428/,PelÃ­cula,7.5,100,2019,Comedia,72698,11/8/2019,Lulu Wang
2,3,tt2935510,12/8/2019,12/8/2019,A beautiful and moving piece. Science Fiction ...,Ad Astra,Ad Astra,https://www.imdb.com/title/tt2935510/,PelÃ­cula,6.5,123,2019,AVENTURA,265696,9/20/2019,James Gray
3,4,tt7131622,11/3/2019,11/3/2019,This movie does everything a movie should - ta...,Ã‰rase una vez en... Hollywood,Once Upon a Time in... Hollywood,https://www.imdb.com/title/tt7131622/,PelÃ­cula,7.6,161,2019,Comedia,878480,8/15/2019,Quentin Tarantino
4,5,tt6751668,8/17/2019,8/17/2019,Engaging and bonkers film that is worth it for...,ParÃ¡sitos,Gisaengchung,https://www.imdb.com/title/tt6751668/,PelÃ­cula,8.5,132,2019,drama,1009079,10/25/2019,Bong Joon Ho

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        100 non-null    int64
 1   Const           100 non-null    object
 2   Created         100 non-null    object
 3   Modified        100 non-null    object
 4   Description     100 non-null    object
 5   Title           100 non-null    object
 6   Original Title  100 non-null    object
 7   URL             100 non-null    object
 8   Title Type      100 non-null    object
 9   IMDb Rating     100 non-null    float64
 10  Runtime (mins)  100 non-null    int64
 11  Year            100 non-null    int64
 12  Genres          100 non-null    object
 13  Num Votes       100 non-null    int64
 14  Release Date    100 non-null    object
 15  Directors       100 non-null    object
dtypes: float64(1), int64(4), object(11)
memory usage: 12.6+ KB

In [20]:
# Borra Columnas no utiles para el analisis
df.drop(columns=['Position', 'Const','Description','URL', 'Title'],inplace=True)

In [21]:
# Capitalizamos los Generos y corrige errores de escritura
df['Genres'] = df['Genres'].str.capitalize()
df['Title Type'] = df['Title Type'].str.capitalize().str.replace('Pelã­cula', 'Pelicula')

In [22]:
df.head(1)

,Created,Modified,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,11/10/2019,11/10/2019,Joker,Pelicula,8.4,122,2019,Crimen,1561802,10/4/2019,Todd Phillips

In [23]:
columna_fechas = ['Created', 'Modified', 'Release Date']

for columna in columna_fechas:
    df[columna] = pd.to_datetime(df[columna], errors='coerce')

df.select_dtypes(include='datetime').isna().sum()

Created         0
Modified        0
Release Date    0
dtype: int64

In [32]:
df.to_csv(r'c:\Users\ACER-PC\Downloads\Data Set top peliculas 2019 limpio.csv', index=False, encoding='UTF-8')